{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="section">

            <div class="row">
                <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous</h1>

                <div class="col m12">
                    {{ form(form) }}
                </div>
            </div>
        </div>
        <a href="{{ path('app_login') }}" class="btn-large waves-effect waves-light"><i class="material-icons left">navigate_next</i>Connexion</a>

    </div>
{% endblock %}
